{%  extends 'primera_app/padre.html' %} 

{% load static %}

{% block title %}Editar{% endblock %}

{% block contenido %}
<div class="container mt-5 mb-5">
    <div class="row justify-content-center">
        <div class="col-md-10 col-lg-8">

            <div class="card shadow">
                <div class="card-body">
                    <h4 class="card-title text-center mb-4">
                        Editar Perfil de {{usuario}}
                    </h4>
                    

                    <form method="post" class="needs-validation" novalidate>
                        {% csrf_token %}
                        <div class="mb-3">
                            {{ form.as_p }}

                            <p class="text-center">¿Necesita cambiar su contraseña? <a href="{% url 'cambiar_contrasenia' %}">Cambiar Contraseña</a></p>
                        </div>
                        <br>
                        
                        <br>
                        <div class="text-center">
                            <button type="submit" class="btn btn-primary">Actualizar Perfil</button>
                            <a href="{% url 'editar_avatar' %}" class="btn btn-secondary">Cambiar Avatar</a>
                        </div>
                    </form>
                    
                </div>
            </div>

        </div>
    </div>
</div>
       
{% endblock %}