{%  extends 'primera_app/padre.html' %} 

{% load static %}

{% block title %}Buscar Productos{% endblock %}

{% block contenido %}
<header class="masthead">
            <div class="container position-relative">
                
                <div class="row justify-content-center">
                    <div class="col-xl-6">
                        <div class="text-center text-white">
                            <!-- Page heading-->
                            <h1 class="mb-5">Buscar Producto</h1>    
                            <form action="/resultados_busqueda/" method="GET">

                                <input type="text" name="nombre" id="nombre">

                                <input type="submit" value="Buscar">

                            </form>
                            <br>
                            <p class="mb-5">Ingrese el nombre del producto que desea buscar.</p>
                        </div>
                    </div>
                </div>
            </div>
</header>
       
{% endblock %}