{%  extends 'primera_app/padre.html' %} 

{% load static %}

{% block title %}Acerca de mi{% endblock %}

{% block contenido %}
<header class="masthead">
            <div class="container position-relative">
                
                <div class="row justify-content-center">
                    <div class="col-xl-6">
                        <div class="text-center text-white">
                            <h1 class="mb-5">Acerca de mi</h1>

                            <img src="{% static 'primera_app/assets/img/Tobias Imagen.jpeg' %}" alt="Imagen de Tobias Correa" class="img-fluid rounded-circle mb-4" style="width: 200px; height: 200px;">
                            <br>
                            <p class="mb-5">Bienvenidos!</p>
                            <br>
                            <p class="mb-5"> Soy Tobias Correa tengo 21 años, soy estudiante del primer año de la Tecnicatura de Programación en la UTN, Desde chico me gusta mucho lo que es el mundo de la informática, tengo 2 años de experiencia laboral el una consultora de Experiencia y lo que me interesa es poder ir adentrandome cada vez más en lo que es el mundo de IT y la programación</p>                                                      
                            <br>
                            <p class="mb-5">Desde ya Muchas Gracias!</p>
                        </div>
                    </div>
                </div>
            </div>
</header>
       
{% endblock %}