{%  extends 'primera_app/padre.html' %} 

{% load static %}

{% block title %}Acerca de mi{% endblock %}

{% block contenido %}
<header class="masthead">
            <div class="container position-relative">
                
                <div class="row justify-content-center">
                    <div class="col-xl-6">
                        <div class="text-center text-white">
                            <h1 class="mb-5">Acerca de mi</h1>
                            
                            <p class="mb-5">Bienvenidos! Soy Tobias Correa Estudiante del primer año de la Tecnicatura de Programación en la UTN</p>                                                      
                            
                        </div>
                    </div>
                </div>
            </div>
</header>
       
{% endblock %}