{%  extends 'primera_app/padre.html' %} 

{% load static %}

{% block title %}Inicio{% endblock %}

{% block contenido %}
<header class="masthead">
            <div class="container position-relative">
                
                <div class="row justify-content-center">
                    <div class="col-xl-6">
                        <div class="text-center text-white">
                            <!-- Page heading-->
                            <h1 class="mb-5">Hola!</h1>    
                            <br>
                            <p class="mb-5">Bienvenido a esta web donde van a poder gestionar Vendedores, Clientes y Productos.</p>
                            <br>
                            <p class="mb-5">Esta web fue desarrollada en Python con el framework Django.</p>
                            <br>
                            <p class="mb-5">Para desbloquear todas las funcionalidades debes iniciar sesion</p>
                            <br>
                            <p class="mb-5">Espero que les guste!</p>
                            <br>

                        </div>
                    </div>
                </div>
            </div>
</header>
       
{% endblock %}